<div class="product-list">
  <div class="card" *ngFor="let product of products">
    <img class="card-img-top"
         *ngIf="product.imagePath; else noImage"
         [src]="getFullImagePath(product.imagePath)"
         alt="{{ product.name }}">
    <ng-template #noImage>
      <img class="card-img-top" src="" alt="No image available">
    </ng-template>
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text"><strong>Price: {{ product.price | currency }}</strong></p>
      <div class="card-icons">
        <i class="fas fa-shopping-cart"></i>
        <i class="fas fa-heart"></i>
      </div>
    </div>
  </div>
</div>
